.footer {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-row-gap: 5rem;
  align-items: center;
  background-color: $color-black;
  color: $color-grey-light;
  padding: 10rem 10vw;

  @include respond(tab-land) {
    grid-template-columns: 35% 1fr;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__logo {
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
  }

  &__icons {
    font-size: 2rem;
    justify-self: end;

    @include respond(phone) {
      justify-self: unset;
    }

    i {
      cursor: pointer;
      margin: 0 1rem;
    }
  }

  &__copyright,
  &__text {
    color: $color-grey-dark;
  }

  &__text {
    text-align: right;

    @include respond(phone) {
      text-align: center;
    }
  }
}
