.page-admin {
  grid-column: full-start / full-end;
  background-color: $color-white-dark;
  min-height: 100vh;

  @include respond(tab-port) {
    grid-column: sidebar-start / full-end;
  }

  &--articles {
    padding: 5rem;
  }

  &--article {
    padding: 3.5vw 10vw;

    @include respond(tab-port) {
      padding: 0;
    }
  }

  &--centered {
    display: grid;
    place-content: center;
    padding: 2.5vw 0;
  }
}
