{% extends 'base.html' %} {% block body %}

<div class="home-page">
  <header class="header">
    <h1 class="header__title">Explore The World</h1>

    {% if current_user %}
    <h4>Hello! {{ current_user.name }}</h4>
    {% else %}
    <div><a href="/signup/new">Sign up</a> or <a href="/login">Login</a></div>
    {% endif %}

    <!-- Articles -->
    <p><a href="/articles/new">New article</a></p>
  </header>

  <section class="gallery">
    {% if articles is empty %}

    <p>No articles found.</p>

    {% else %} {% for article in articles %}
    <div
      class="gallery__card card"
      style="background-image: url('../../../uploads/{{ article.image_file }}')"
    >
      <div class="card__header">
        <h1 class="card__title">
          <strong>
            <a href="article/{{ article['id'] }}"
              >{{ article['title'] }}</a
            ></strong
          >
        </h1>

        <h2 class="card__location">{{ article['location'] }}</h2>
      </div>

      <div class="card__body">
        <p class="card__description">{{ article['description'] }}</p>
      </div>
    </div>
    {% endfor %} {% endif %}
  </section>
</div>

<!-- <table>
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>
          <a href="article/{{ article['id'] }}"> {{ article['title'] }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->

{% include 'paginator.html' %} {% endblock %}
