.button-text {
  font-size: 1.65rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in;
  width: 15rem;

  &--white {
    border-bottom: 2px solid $color-white;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--black {
    border-bottom: 2px solid $color-black;
    color: $color-black;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--large {
    display: block;
    width: 100%;
  }
}
