.card-horizontal {
  display: flex;
  align-items: center;
  background-image: linear-gradient(147deg, #000000 58.25%, #2c3e50 95%);
  color: $color-white;
  cursor: pointer;
  height: 12rem;
  text-decoration: none;
  overflow: hidden;

  &__body {
    width: 65%;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__image-box {
    margin-left: 2rem;
    width: 35%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
