.card-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(0.5);
  width: 100%;
  color: white !important;

  &__image {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    object-fit: cover;
    height: 25rem;
    width: 100%;
    z-index: 1;
  }

  &__delete {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;

    background-color: $color-danger;
    border-radius: 50%;
    color: $color-white;
    margin: 1.25rem;
    text-decoration: none;
    height: 3.5rem;
    width: 3.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__edit {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: $color-black;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 2;
    justify-self: end;
    margin: 5rem 1rem;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;

    background-color: $color-black;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 1.25rem;
    transform: translateY(50%);
    width: 80%;
    z-index: 3;
  }

  &__description,
  &__published-at,
  &__location,
  &__categories {
    grid-column: 1 / -1;
  }

  &__location,
  &__published-at,
  &__description,
  &__categories {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 2rem;
  }

  &__button {
    grid-column: 1 / -1;
    background-color: $color-secondary;
    border: none;
    color: $color-black;
    font-weight: 600;
    transition: filter 0.2s;

    a {
      font-size: 1.55rem;
      font-weight: 500;
      text-decoration: none;
    }
    &:hover {
      filter: brightness(1.1);
    }
  }
}
