.dropdown {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color-grey-light;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba($color-black, 0.975);
  margin-top: 5rem;
  width: 20rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__scrim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;

    &--open {
      visibility: visible;
    }
  }

  &__square {
    background-color: $color-grey-light;
    position: absolute;
    top: -4.5px;
    right: 8.5px;
    height: 2rem;
    width: 2rem;
    z-index: -1;
    transform: rotate(45deg);
  }

  &__item {
    cursor: pointer;
    background-color: $color-grey-light;
    border-radius: 3px;
    font-size: 1.65rem;
    font-weight: 400;
    list-style: none;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.25);
    }
  }

  &__link {
    display: block;
    color: $color-black;
    text-decoration: none;
  }
}
