.featured-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 40%;
  grid-template-rows: min-content min-content;
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  padding: 0 2.5vw;

  @include respond(big-desktop) {
    padding: 0 7.5vw;
    grid-template-columns: 40% 1fr 1fr;
  }

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__item--1 {
    grid-column: 1 / 3;
    max-height: 75vh;

    @include respond(big-desktop) {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    @include respond(tab-land) {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }

    @include respond(phone) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__item--2 {
    height: 33.5rem;

    @include respond(big-desktop) {
      grid-column: 2 / 3;
    }

    @include respond(tab-land) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__item--3 {
    height: 33.5rem;

    @include respond(big-desktop) {
      grid-column: 2 / 3;
    }

    @include respond(tab-land) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.new-articles {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  max-height: 70rem;

  @include respond(big-desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }

  @include respond(tab-land) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  @include respond(phone) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-top: 3rem;
  }

  &__title {
    display: inline-block;
    margin-bottom: 3.5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      background-image: linear-gradient(
        to right,
        $color-primary 0 35%,
        $color-secondary
      );
      width: 100%;
      height: 3px;
    }

    @include respond(tab-land) {
      height: unset;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    overflow: scroll;

    &::-webkit-scrollbar {
      width: 1.5rem;
      /* height: 5rem; */
    }
    &::-webkit-scrollbar-track {
      background: $color-black;
      // margin-block: 7.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-grey-dark;
      border: 0.25em solid $color-black;
    }
    // &::-webkit-scrollbar-thumb:hover {
    //   background: ${({ theme }) => theme.colors.primary};
    //   opacity: 0.5;
    // }

    // @supports (scrollbar-color: red blue) {
    //   * {
    //     scrollbar-color: ${({ theme }) => theme.colors.white},
    //       ${({ theme }) => theme.colors.secondary};
    //     scrollbar-width: thin;
    //   }
    // }

    a:not(:last-child) {
      margin-bottom: 1.65rem;
    }

    @include respond(tab-land) {
      height: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.5rem;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      height: 110%;
    }
  }
}
