.paginator {
  color: $color-white;
  font-weight: 500;

  &__nav {
    display: flex;
  }

  &__item {
    list-style: none;
    padding: 2rem;
    font-size: 1.65rem;

    a {
      font-weight: 700;
      text-decoration: none;

      &:visited {
        color: $color-tertiary;
      }
    }
  }
}
