.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    display: none;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgba($color-black, 0.65);
    border: none;
    padding: 1rem 2rem;
    border-radius: 35px;
    // border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      // background-color: $color-grey-light;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-light;
      // color: rgba($color-black, 0.65);
    }
  }

  &__input:focus + &__button {
    background-color: rgba($color-black, 0.65);
    // background-color: $color-grey-light;
  }

  &__button {
    border: none;
    background-color: rgba($color-black, 0.65);
    // background-color: $color-grey-light;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark;
  }
}
