.slider-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.5rem;
  align-items: center;
  overflow: hidden;
  color: $color-white;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }

  &__slider {
    height: 37vw;
    width: 125%;

    @include respond(tab-port) {
      height: 45vw;
    }
  }

  &__title {
    margin-bottom: 1rem;

    @include respond(tab-land) {
      font-size: 3.6rem;
    }
  }

  &__text-box {
    z-index: 1;
    @include respond(tab-port) {
      margin: 4rem 2vw;
    }
  }

  &__text {
    font-size: 1.75rem;
    width: 85%;

    & > * {
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }
  }
}
