/* SLIDER */
.slider {
  max-width: 125rem;
  height: min-content;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;

  &__button {
    position: absolute;
    top: 90%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.65);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }

  &__button--left {
    left: 6%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      left: 4%;
    }
  }

  &__button--right {
    right: 6%;
    transform: translate(50%, -50%);

    @include respond(tab-port) {
      right: unset;
      left: 6%;
    }
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
