<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Urbanist:wght@200;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/styles.css" />

    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/icons/plane-icon.png"
    />

    <!-- CSS -->
    {% block css %} {% endblock %}

    <!-- JavaScript -->
    <script type="module" defer src="/js/script.js"></script>
    {% block js %} {% endblock %}

    <title>{% block title %} {% endblock %} | Travel Clan</title>
  </head>

  <body>
    {% for message in flash_messages %}
    <div class="flash-message flash-message--{{ message.type }}">
      {{ message.body }}
    </div>
    {% endfor %} {% block page %} {% block navigation %} {% endblock %} {% block
    body %} {% endblock %} {% endblock %} {% block footer %} {% endblock %}
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="/js/plugins/hideShowPassword.min.js"></script>
  <script src="/js/formValidations.js"></script>
  <script></script>
</html>
