$color-primary: #d53568;
$color-secondary: rgb(255, 204, 0);
$color-tertiary: rgb(8, 149, 167);

$color-danger: rgb(242, 82, 68);

$color-grey-light: rgb(238, 238, 238);
$color-grey-dark: #444;

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-white-dark: #f4f0f4;

$box-shadow-primary: 0 1.5rem 4rem #777;
